<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
myhtml
<div th:text="${name}"></div>
<div th:text="${id}"></div>


<div id="main">
    <div id="main2"></div>
    <div id="main3"></div>
</div>
</body>
<script th:src="@{static/js/echarts.min.js}"></script>
<style>
    #main{
        height: 100%;
        width: 100%;
        background-image: url("static/imag/my.jpg");
    }
    #main2{
        height: 100px;
        width: 100px;
        background-color: red;
        float: left;
    }
    #main3{
        height: 100px;
        width: 100px;
        background-color: greenyellow;
        float: right;
    }
</style>
<script th:src="@{static/js/main2.js}"></script>
<script th:src="@{static/js/main3.js}"></script>
</html>